/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

    nav ul li a {padding: .6rem 1rem;}

    header img{
        height: 120px;
    }

    nav{
        grid-row: 2;
        text-align: center;
    }

    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

    footer img{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 50%;
        margin-left: 160px;
    }

    .contact{
        grid-column: 2/3;
        grid-row: 1;
    }

    .social{
        grid-column: 2/3;
        grid-row: 2;
        width: 20%;
        display:-webkit-flex;
        margin-left: -100px;
    }

    .copy, #lstupd{
        grid-column: 1 / 3;
    }

} /*end large *
